<div class="container-fluid">
  <h1>Louis Vuitton</h1>
  <div>
    <nav class="navbar">
      <a class="navbar-brand" href="#" [routerLink]="['']">Home</a>
      <a class="navbar-brand" href="#" [routerLink]="['owner-form']">Create Owner</a>
      <a class="navbar-brand" href="#" [routerLink]="['owner-list']">List of owners</a>
      <a class="navbar-brand" href="#" [routerLink]="['picture-card']">Get pictures</a>
      <a class="navbar-brand" href="#" [routerLink]="['directory-by-letter']">Directory of Owners</a>
      <a class="navbar-brand" href="#" [routerLink]="['owners-by-letter']">Owners by letter</a>
      <a class="navbar-brand" href="#" [routerLink]="['list-products']">Liste des produits</a>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>

