<div class="container">
  <div class="row">
    <div class="col-4">
      <button id="ownerButton" mat-flat-button> + AJOUTER UN PROPRIETAIRE</button>
    </div>
    <div class="col-8">
      <hr size="1" align=right width="100%">
    </div>
  </div>
  <mat-grid-list cols="6" rowHeight="1:1">
    <div *ngFor="let i of letterOfDirectory">
      <mat-grid-tile>
        <a [routerLink]="[i]">
          <mat-card class="example-card">
            <mat-card-header>
              <img mat-card-image
                   src="https://upload.wikimedia.org/wikipedia/commons/3/3a/Folder_open_alt_font_awesome.svg">
            </mat-card-header>
            <mat-card-title>
              {{i}}
            </mat-card-title>
          </mat-card>
        </a>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>
