.mat-card{
align-content: center;
}

.mat-card-image{
  width: 50%;
}

.mat-card-title{
  text-align: center;
}

.mat-card:hover {
  box-shadow: 5px 4px 4px 1px darkgrey;
  -webkit-transition:  box-shadow .1s ease-in;
}

.mat-card-image {
  justify-items: center;
}

.mat-card-header {
  justify-content: center;
}

#ownerButton {
  background-color: rgba(16,0,8,0.81);
  color: white;
  text-align: center;
  font-weight: 200;
  position: relative;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 17px;
  word-spacing: 8px;
  border: none;
  display: inline-block;

}

.btn-primary {
  border: none;
  background: none;
  color: chocolate;
}
