<div class="container-md">
  <mat-grid-list cols="5" rowHeight="1:1">
    <div *ngFor="let i of ownersList">
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-icon aria-hidden="false">
            <img mat-card-image
                 src="https://upload.wikimedia.org/wikipedia/commons/7/7c/User_font_awesome.svg" alt="logo-owner">
            </mat-icon>
          </mat-card-header>
          <br>
          <mat-card-title>
            {{i.lastName}}
          </mat-card-title>
        </mat-card>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>
