h1 {
  align-content: center;
  text-align: center;
  color: #72696a;
  font-family: 'Alegreya Sans SC', sans-serif;

}

h2 {
  align-content: center;
  text-align: center;
  margin-bottom: 80px;
  color: #a86445;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.container-fluid {
  margin-bottom: 80px;

}

.material-icons.md-48 {
  font-size: 48px;
  color: #755349;

}

.textMal {
  margin-left: 30px;

}

#uidMale {
color: #755349;

}



.mat-form-field {
  width: 400px;


}

.mat-label {
  font-family: 'Alegreya Sans SC', italic sans-serif;


}
.mat-flat-button{
  width: 200px;
  color: azure;
  font-size: large;
  font-family: 'Alegreya Sans SC', sans-serif;
  padding: 8px;
}

#button-reset{
  background-color: darkgrey;
}

#button-submit{
  background-color: black;
}

.form-story-button button,
.form-story-button a {
  margin-right: 8px;
}
