
<h1>DEMANDE DE CRÉATION D'HISTOIRE</h1>
<h2>CHOIX DU RÉDACTEUR</h2>

<div class="container-fluid col d-flex justify-content-center">
  <div class="row">
    <div class="col-12">
      <div *ngFor="let i of productId">
          <mat-card class="example-card">
            <div class="row">
              <div class="col-4">
                <i class="material-icons md-48">work</i>
              </div>
              <div class="col-4">

                <div class="row" id="uidMale">
                  {{i.uid}}
                </div>
                <div class="row" id="titleMale">
                  {{i.title}}
                </div>

              </div>
            </div>

            </mat-card>
        </div>
      <br>
      <form (ngSubmit)="onSubmit()" [formGroup]="storyForm">
  <mat-form-field appearance="outline">
    <mat-label>choix de la langue</mat-label>
    <mat-select>
      <mat-option value="option">Anglais</mat-option>
      <mat-option value="option">Allemand</mat-option>
      <mat-option value="option">Japonais</mat-option>
      <mat-option value="option">Russe</mat-option>
      <mat-option value="option">Espagnol</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Titre de la demande...</mat-label>
    <input matInput>
  </mat-form-field>
  <br>

  <br>
  <mat-form-field appearance="fill">
    <mat-label class="">Date d'échéance...</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Commentaire...</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
        <br>
        <mat-label>AJOUTER DOCUMENTS</mat-label>
      <div class="row">
        <div class="col">
          <mat-checkbox>Fiche proprétaire</mat-checkbox>
        </div>
        <div class="col">
          <mat-checkbox>Pièce jointe</mat-checkbox>
        </div>
      </div>
           <br>
      <input type="file" (click)="onFileSelected($event)">
        <br>
          <div class="form-story-button">
            <button id="button-reset" type="reset" (reset)="storyForm" mat-flat-button>A N N U L ER</button>
            <button id="button-submit" type="submit" (submit)="storyForm" mat-flat-button>E N R E G I S T R E R</button>
          </div>
      </form>
    </div>
  </div>
</div>













