.formOwner {
  align-content: center;
}

.form-owner-button button,
.form-owner-button a {
  margin-right: 8px;
}

.container {
  width: 100%;
}

.mat-form-field {
  width: 500px;
}
.mat-flat-button{
  width: 250px;
  color: azure;
  font-size: large;
  font-family: 'Alegreya Sans SC', sans-serif;
  padding: 9px;
}

#button-reset{
  background-color: darkgrey;
}

#button-submit{
  background-color: black;
}

h1{
  text-align: center;
  font-weight: 300;
  position: relative;
  padding-bottom: 1rem;
  text-transform: uppercase;
  color: black;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 22px;
  word-spacing: 8px;
}

h1:after{
  content: " ";
  position: absolute;
  margin-top: 25%;
  left:45%;
  width: 10%;
  height: .5rem;
  background: #755349;
}
h1:before{
  content: " ";
  position: absolute;
  margin-top: 25%;
  right:55%;
  width: 10%;
  height: .5rem;
  background: #281e19;
  justify-content: center;
}

#formPlace{
  margin-top: 12%;
}

.uppercase{
  text-transform: uppercase;
}

.firstLetterUppercase{
  text-transform: capitalize;
}

.matInput {
  text-transform: capitalize;
}
