<div class="container-md">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <h1>CRÉATION D'UN PROPRIÉTAIRE</h1>
    </div>
  </div>
  <div id="formPlace" class="row">
    <div class="col d-flex justify-content-center">
      <br>
      <form (ngSubmit)="onSubmit()" [formGroup]="ownerForm">
        <mat-form-field appearance="fill">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="lastName" required class="uppercase">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Prénom</mat-label>
          <input matInput formControlName="firstName" required class="firstLetterUppercase">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Sexe</mat-label>
          <mat-select formControlName="gender" required class="firstLetterUppercase">
            <mat-option *ngFor="let gender of genderEnum" [value]="gender" class="firstLetterUppercase">
              {{gender}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field color="accent">
          <mat-label>Date de naissance</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="birth" required>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1 color="primary"></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field color="accent">
          <mat-label>Date de décès</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="death">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 color="primary"></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Nationalité(s)</mat-label>
          <input matInput formControlName="nationality" required class="firstLetterUppercase">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Métier(s)</mat-label>
          <input matInput formControlName="job" required class="firstLetterUppercase">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Ascendant(s)</mat-label>
          <input matInput formControlName="ascendant" required class="firstLetterUppercase">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Mariage(s)</mat-label>
          <input matInput formControlName="mariage" required class="firstLetterUppercase">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Enfant(s)</mat-label>
          <input matInput formControlName="children" required class="firstLetterUppercase">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Source(s)</mat-label>
          <input matInput formControlName="source" required class="firstLetterUppercase">
        </mat-form-field>
        <br>
        <div class="form-owner-button">
          <button id="button-reset" type="reset" (reset)="ownerForm" mat-flat-button>A N N U L ER</button>
          <button id="button-submit" type="submit" (submit)="ownerForm" mat-flat-button>E N R E G I S T R E R</button>
        </div>
      </form>
    </div>
  </div>
</div>
