
#menu-principal {
  background-color: #725e5a;
}
.container-fluid {
  padding: 100px;
}


#row-container {
  padding: 100px;


}

#menu-container {
  background-color: white;
  margin-left: 0px;
}


#picture-container {


}


#menu {
  margin-left: 0px;
  padding: auto;
}

.nav-link  {
  background-color: white;
  color: #72696a;


}

#btn-active {
  background-color: #72696a;
  color: white;
}

.mat-menu {
  margin-top: 10px;

}


.mat-list-item {
  color: #72696a;
  margin-left: 70%;
  font-family: Arial, italic, sans-serif
}


.mat-card {
  background-color: antiquewhite;
  max-width: 200px;
  max-height: 200px;

}



.mat-card-content {
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;




}
.mat-card-image {

  width: (200px);
  height: (100px );

;
}

.mat-body {

}

