<body class="bg-light">
<div class="container-fluid " >
  <div class="row">
    <div class="col-2" id="menu-principal"></div>
    <div class="col-2" id="menu-container"  >
      <ul class="nav flex-column" id="menu"  >
        <li class="nav-item nav-justified">
          <a class="nav-link active .btn-block" id="btn-active" href="http://localhost:4200/picture-card">Photos Historiques</a>
        </li>
        <li class="nav-item nav-justified">
          <a class="nav-link .btn-block " href="#">Photos Génériques</a>
        </li>
        <li class="nav-item">
          <a class="nav-link .btn-block " href="#">Photos artistiques</a>
        </li>
        <li class="nav-item">
          <a class="nav-link .btn-block"  href="#">Textes génériques</a>
        </li>
        <li class="nav-item">
          <a class="nav-link .btn-block" href="#">Vidéos génériques</a>
        </li>
        <li class="nav-item">
          <a class="nav-link .btn-block" href="#">Archives d'exposition</a>
        </li>
      </ul>
    </div>
    <div class="col-6" id="picture-container">
      <input class="form-control form-control-lg shadow-sm p-3 mb-5 bg-white rounded" id="#search" type="text" placeholder="Nom de la photo" >
      <mat-list-item>
      <p>{{pictureNumber}} photos historiques réfèrencées</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <div class="col">
      <div class="row justify-content-right">
        <div *ngFor="let picture of pictures">
          <div class="mat-body">
            <mat-card class="mat-card">
              <mat-card-content class="mat-card-content">
                <img mat-card src="../../assets/malle-louis-vuitton-monogram-courrier-toile-au-pochoir-autre-marron.jpg"
                     alt="image d'une malle" class="mat-card-image">
                <p>{{picture.title}}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>

  <mat-paginator [length]="12"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>

</div>

</body>












